.header {
    display: flex;
    gap: 66.7rem;
    margin-bottom: 22.3rem;
}

.nav {
    display: flex;
    gap: 3.1rem;
    font-weight: 700;
}

h1 {
    font-size: 6rem;
    margin-bottom: 3rem;
}

p {
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 7rem;
}

.project-01__pp {
    margin-bottom: 2.5rem;
    margin-top: 20rem;
}

.pp {
    margin-bottom: 20rem;
}

.project__link {
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 20rem;
}